*{
    margin: 0;
    padding:0;
}


.main-container{
    margin-top: 20px;
    width: 55%;
    margin: auto;
    border: 4px solid whitesmoke;
    border-radius: 15px;
    box-shadow: 0 0 35px gray;
}
.input-container {
    background: lightseagreen;
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 0px 0px;
}
.title {
    color: whitesmoke;
    font-size: 25px;
    text-align: center;
    margin-top: 35px
}
#input-el {
    width: 100px;
    height: 70px;
    margin: 15px auto;
    text-align: center;
    background: lightseagreen;
    border: 2px solid whitesmoke;
    border-radius: 4px;
    color: whitesmoke;
    font-size: 60px;
    font-weight: bolder;
}
#convert-btn{
     margin: 5px auto;
     margin-bottom: 25px;
     width: 100px;
     padding: 10px 7px;
     background: whitesmoke;
     border: none;
     border-radius: 4px;
}
.value-container{
    
    margin: auto;
    background: lightgray;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 0px 0px 15px 15px;

}
.length-conversion,
.volume-conversion,
.mass-conversion{
    margin: 10px 20px;
    background: whitesmoke;
    padding: 25px 50px;
}
.length-conversion{
    margin-top: 20px;
}
.mass-conversion{
    margin-bottom: 35px;
}
h3{
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 10px;
}
    